<html>
  <head>
    <title>Rpi IoT</title>
    <link href="webpage.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.10.2.min.js" type="text/javascript">
  </script>
  </head>

  <body>
  <h1>LED controller</h1>
  <h3>Click here:</h3>
  <br>
  <a href=\led1><button>LED1</button></a>
  <a href=\off><button>OFF</button></a>
  <a href=\60><button>60</button></a><br>
  <a href=\static_on><button>STATIC</button></a>
  <a href=\off><button>OFF</button></a>
  <a href=\100><button>100</button></a><br>
  <a href=\circling_on><button>CIRCLING</button></a>
  <a href=\off><button>OFF</button></a>
  <a href=\120><button>120</button></a><br>
  <a href=\strobo_on><button>STROBO</button></a>
  <a href=\off><button>OFF</button></a>
  <a href=\150><button>150</button></a><br>
  <a href=\random_on><button>RANDOM</button></a>
  <a href=\off><button>OFF</button></a>
  <a href=\180><button>180</button></a><br>
  <a href=\one_to_eight_on><button>1 - 8</button></a>

  </body>
</html>